{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets" : {
                    "browsers":[
                        "last 3 versions",
                        "ie > 8"
                    ]
                },
                "useBuiltIns":"usage",
                "corejs":3,
                "debug": true
            }
        ]
    ]
}